<header>
  <nav class="navbar navbar-dark bg-dark mb-5">
    <img src='./../../favicon.ico' />
    <a class="navbar-brand" href="/">BlogFlix

  </a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/home']" >Home</a>
        <a class="nav-item nav-link" [routerLink]="['/movies']" >Movie Blog</a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="https://facebook.com/" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
    </div>
  </nav>
  </header>
  <router-outlet></router-outlet>


